.fs-back-office-partner-login-part {

	width 				: 100vw;
	height 				: 100vh;
	top                 : 0;
	left                : 0;
	position            : fixed;
	z-index             : 900;
	outline             : 0;
	background-color	: rgba(18, 22, 35, 0.94);
	display             : flex;

	.fs-back-office-partner-login-block {

		position 			: relative;
		background-color	: $light-scheme-gradient-color-light-5;
		width 				: 350px;
		margin 				: 0 auto;
		top					: 35%;
		height 				: 240px;

		.fs-back-office-partner-login-fields {

			position	: relative;
			margin		: 0 auto;
			text-align	: center;
			top 		: 40px;
			width 		: 200px;

			.fs-back-office-partner-login-err-name {

				display : inline-block;

				.fs-back-office-partner-login-err-name-text {

					font-family : fontRegular;
					font-size   : 12px;
					color 		: #d6657c;
				}
			}

			.fs-back-office-partner-login-err-password {

				display	: inline-block;

				.fs-back-office-partner-login-err-password-text {

					font-family : fontRegular;
					font-size 	: 12px;
					color 		: #d6657c;
				}
			}

			.fs-back-office-partner-login-name {

				width		: 200px;
				height 		: 35px;
				text-indent	: 5px;
				font-family	: fontRegular;
				font-size 	: 16px;
				display		: inline-block; 
			}

			.fs-back-office-partner-login-password {

				width		: 200px;
				height 		: 35px;
				text-indent	: 5px;
				font-family	: fontRegular;
				font-size 	: 16px;
				display		: inline-block;
				margin-top	: 20px;
			}

			.fs-back-office-login-part-button {

				background-color	: $dark-scheme-brand-color-1-light;
				color 				: $light-scheme-gradient-color-light-5;
				margin-top			: 20px;
				font-family 		: fontRegular;
				font-size 			: 14px;
			}
		}
	}
}