<div class="fs-back-office-contest-filter-contest-detail-name-block">
	<span class="fs-back-office-contest-filter-contest-detail-name">
		{{::radiobuttons.itemList.name}}
	</span>
	<div class="fs-back-office-contest-filter-contest-detail-line" ng-repeat="item in radiobuttons.itemList.list" ng-click="radiobuttons.control($event, item)">
		<div class="fs-back-office-contest-filter-contest-detail-line-radio">
			<span class=" {{item.model ? 'fs-back-office-contest-filter-contest-detail-line-radio-checked' : ''}}"></span>
		</div>
		<span class="fs-back-office-contest-filter-contest-detail-line-name">
			{{::item.name}}
		</span>
	</div>
</div>