<div class="general-tabs-block {{general.model ? 'general-tabs-block-opened' : ''}}">
    <div class="general-tab-betco">
        <span class="general-tab-betco-icon"></span>
    </div>
    <div class="general-tab {{item.model ? 'general-tab-active' : ''}} {{'general-tab-' + item.value}} {{general.model ? 'general-tab-opened' : ''}}" ng-repeat="item in ::$root.generalTabs" ng-click="choosingGenTab(item)">
        <span class="general-tab-icon {{'general-' + item.value}}"></span>
        <div class="general-tab-name">
            <span>
                {{::item.value}}
            </span>
        </div>
    </div>
</div>