.fs-back-office-headers-block {

    width               : 36px;
    height              : 36px;
    float               : left;
    text-align          : center;
    margin-bottom       : 10px;
    cursor              : pointer;
    display             : inline-block;
    color               : $light-scheme-gradient-color-light-1;
    background-color    : $light-scheme-gradient-color-light-5;

    .fs-back-office-headers-icon {

        font-family : fantasy-font;
        font-size   : 20px;
        cursor      : pointer;
        display     : inline-block;
        margin-top  : 7px;

        &:before {

            content : 'i';
        }
    }
}

.fs-back-office-header-control-block {

    position            : absolute;
    width               : 400px;
    padding             : 10px;
    left                : 0px;
    bottom              : 300px;
    display             : none;
    background-color    : $light-scheme-gradient-color-light-4;
    border              : 1px solid $light-scheme-gradient-color-light-2;

    .fs-back-office-header-control-line {

        width       : 50%;
        height      : 20px;
        margin-top  : 10px;
        display     : inline-block;

        &:nth-child(odd) {

            float   : left;
        }

        &:nth-child(even) {

            float   : right;
        }

        .fs-back-office-header-control-input {

            display             : inline-block;
            height              : 16px;
            width               : 16px;
            float               : left;
            cursor              : pointer;
            margin-left         : 10px;
            font-family         : fantasy-font;
            font-size           : 14px;
            text-align          : center;
            color               : $dark-scheme-brand-color-1-light;
            border              : 1px solid $light-scheme-gradient-color-light-2;
            background-color    : $light-scheme-gradient-color-light-5;

            .fs-back-office-header-control-input-checked {

                &:before {

                    content     : 'n';
                    cursor      : pointer;
                    display     : inline-block;
                    margin-top  : 1px;
                }
            }
        }

        .fs-back-office-header-control-text {

            font-family : fontRegular;
            font-size   : 14px;
            float       : left;
            margin-left : 10px;
            cursor      : pointer;
            color       : $dark-scheme-gradient-color-light-2;
        }
    }
}

.fs-back-office-header-control-block-display {

    display : inline-block;
}