<!-- test start -->
<filters-dir options="testOptions"></filters-dir>
<!-- test end -->
<div class="fs-back-office-contest-block">
	<div class="fs-back-office-contest-filter-block">
		<div class="fs-back-office-contest-filter-header-block">
			<div class="fs-back-office-contest-filter-header-item">
				<span class="fs-back-office-contest-filter-header-name">
					main filter
				</span>
			</div>
		</div>
		<div class="fs-back-office-contest-filter-action-block">
			<div class="fs-back-office-contest-filter-name-and-prize">
				<div class="fs-back-office-contest-filter-name-block">
					<span class="fs-back-office-contest-filter-name-text">
						contest name
					</span>
					<input class="fs-back-office-contest-filter-name-input" ng-model="filter.nameSearch" type="text" placeholder="Enter contest name">
				</div>
				<div class="fs-back-office-contest-filter-name-block">
					<span class="fs-back-office-contest-filter-name-text">
						prize type
					</span>
					<div class="fs-back-office-contest-filter-prize-dropdown" ng-click="openPrizeType($event)">
						<span class="fs-back-office-contest-filter-prize-dropdown-icon"></span>
					</div>
					<div ng-if="openPrizes" class="fs-back-office-contest-filter-prize-dropdown-list">
						<div class="fs-back-office-contest-filter-prize-dropdown-list-line" ng-repeat="item in ::prizes" ng-click="choosingPrizeType($event, item)">
							<div class="fs-back-office-contest-filter-prize-dropdown-list-line-checkbox">
								<span class="{{item.model ? 'fs-back-office-contest-filter-prize-dropdown-list-line-checked' : ''}}"></span>
							</div>
							<span class="fs-back-office-contest-filter-prize-dropdown-list-line-item">
								{{::item.name}}
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="fs-back-office-contest-filter-contest-details-block">
				<div class="fs-back-office-contest-filter-contest-detail-name-block" ng-repeat="detail in ::arrForList" ng-init="index = $index">
					<span class="fs-back-office-contest-filter-contest-detail-name">
						{{::detail}}
					</span>
					<div class="fs-back-office-contest-filter-contest-detail-line" ng-repeat="item in ::contestDetails[detail]" ng-click="filteringLobby($event, detail, item)">
						<div class="fs-back-office-contest-filter-contest-detail-line-checkbox">
							<span ng-if="index != 0" class="{{item.model ? 'fs-back-office-contest-filter-contest-detail-line-checkbox-checked' : ''}}"></span>
							<span ng-if="index == 0" class=" {{item.model ? 'fs-back-office-contest-filter-contest-detail-line-radio' : ''}}"></span>
						</div>
						<span class="fs-back-office-contest-filter-contest-detail-line-name">
							{{::item.name}}
						</span>
					</div>
				</div>
			</div>
			<div class="fs-back-office-contest-filter-size-and-fund">
				<div class="fs-back-office-contest-filter-item-block">
					<span class="fs-back-office-contest-filter-entry-name">
						entry fee
					</span>
					<input type="number" ng-model="filter.minModel" min="{{filter.minEntryFee}}" max="{{filter.maxEntryFee}}" class="fs-back-office-contest-filter-size-input" placeholder="From">
					<input type="number" ng-model="filter.maxModel" min="{{filter.minEntryFee}}" max="{{filter.maxEntryFee}}" class="fs-back-office-contest-filter-size-input second-input" placeholder="To">
				</div>
				<!-- <div class="fs-back-office-contest-filter-item-block right-block">
					<span class="fs-back-office-contest-filter-entry-name">
						prize fund
					</span>
					<input type="number" ng-model="filter.minPrize" class="fs-back-office-contest-filter-size-input" placeholder="From">
					<input type="number" ng-model="filter.maxPrize" class="fs-back-office-contest-filter-size-input second-input" placeholder="To">
				</div> -->
				<div class="fs-back-office-contest-filter-item-block down-block">
					<span class="fs-back-office-contest-filter-entry-name">
						entry size
					</span>
					<input type="number" ng-model="filter.minEntry" class="fs-back-office-contest-filter-size-input" placeholder="From">
					<input type="number" ng-model="filter.maxEntry" class="fs-back-office-contest-filter-size-input second-input" placeholder="To">
				</div>
				<div class="fs-back-office-contest-filter-item-block right-block down-block">
					<span class="fs-back-office-contest-filter-entry-name">
						calendar
					</span>
					<div class="fs-back-office-contest-filter-calendar">
						<div class="fs-back-office-contest-filter-calendar1">
							{{msg1}}
						</div>
						<div  class="fs-back-office-contest-filter-calendar2">
							{{msg2}}
						</div>
						<div class = "fs-calendar-active" ng-if="showCalendarFunc ">
							<calendar-md   flex layout layout-fill
										 calendar-direction="direction"
										 on-prev-month="prevMonth"
										 on-next-month="nextMonth"
										 on-day-click="dayClick"
										 title-format="'MMMM y'"
										   week-starts-on="firstDayOfWeek"
										   tooltips="tooltips"
										 ng-model='selectedDate'
										 day-format="'d'"
										 day-label-format="'EEE'"
										 day-label-tooltip-format="'EEEE'"
										 day-tooltip-format="'fullDate'"
										 week-starts-on="firstDayOfWeek"
										 day-content="setDayContent">
							</calendar-md>
						</div>
						<div class="fs-back-office-contest-filter-calendar-icon" ng-click="showCalendar($event)"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fs-back-office-contest-filter-botton-block">
		<button class="fs-white-success-button fs-medium-button fs-back-office-contest-filter-button" ng-click="searchingByAllInputs($event)">
			search
		</button>
		<button class="fs-white-success-button fs-medium-button fs-back-office-contest-filter-button" ng-click="clearingAllInputs($event)">
			reset
		</button>
	</div>
</div>
<contests-dir></contests-dir>
<loader-dir ng-show="loaderContest.show"></loader-dir>
<contest-draw-table lobbyType="1" class="fs-back-office-contest-table fs-back-office-contest-table-contest-part"></contest-draw-table>
