<div class="header {{general.model ? 'header-opened' : ''}}">
    <span class="icon header-icon" ng-click="openGeneralTabs($event)"></span>
    <div class="header-personal-part">
        <div class="not-available-modal {{(soon.model) ? 'not-available-modal-visibility' : ''}}">
            <span class="not-available-modal-part">
            </span>
            <span class="not-available-modal-text">
                comming soon
            </span>
        </div>
        <span class="icon header-personal-part-help" ng-mouseover="commingSoonShow($event)" ng-mouseleave="commingSoonHide($event)"></span>
        <span class="icon header-personal-part-notification" ng-mouseover="commingSoonShow($event)" ng-mouseleave="commingSoonHide($event)"></span>
        <span class="icon header-personal-part-message" ng-mouseover="commingSoonShow($event)" ng-mouseleave="commingSoonHide($event)"></span>
        <div class="header-personal-seperate-lines"></div>
        <span class="icon header-personal-bank-wallet"></span>
        <div class="header-personal-wallet-block">
            <div class="header-personal-wallet-text">
                wallet
            </div>
            <div class="header-personal-wallet-score">
                {{::partner.bankBalance + '  $'}}
            </div>
        </div>
        <div class="header-personal-seperate-lines"></div>
        <span class="icon header-personal-part-user-icon"></span>
        <div class="header-personal-part-username" ng-click="openUserSettings($event)">
            {{::partner.username}}
        </div>
        <span class="icon header-personal-part-username-icon" ng-click="openUserSettings($event)"></span>
        <div ng-if="partner.settings" class="general-tab-user-settings">
            <span class="general-tab-user-settings-log-out" ng-click="userLogOut($event)">
                Log out
            </span>
        </div>
        <div class="header-personal-part-lang-border" ng-mouseover="commingSoonShow($event)" ng-mouseleave="commingSoonHide($event)">
            <div class="header-personal-part-lang">
                en
            </div>
            <span class="icon header-personal-part-lang-icon"></span>
        </div>
    </div>
</div>