<div class="headers-block" ng-click="headersControl.control($event)">
	<span class="headers-icon"></span>
</div>
<div class="header-control-block {{(headersControl.flag) ? 'header-control-block-display' : ''}}" ng-click="$event.stopPropagation()">
	<div class="header-control-line" tabindex="{{$index + 1}}" ng-repeat="item in headersControl.list" ng-click="headersControl.check($event, item)" ng-keyPress="headersControl.check($event, item)">
		<span class="header-control-input">
			<span class="{{(item.model) ? 'header-control-input-checked' : ''}}"></span>
		</span>
		<span class="header-control-text">
			{{::item.name}}
		</span>
	</div>
</div>